RewriteEngine On

# API HARUS PRIORITAS
RewriteCond %{REQUEST_URI} ^/api/ [NC]
RewriteRule .* - [L]

# FILE & FOLDER ASLI
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# ASSETS
RewriteRule \.(js|css|png|jpg|jpeg|gif|ico|svg|woff|woff2|ttf|eot|json)$ - [L,NC]

# SPA FALLBACK
RewriteRule ^ index.html [L]
